.designcentrado {
  padding: 24px 32px;
  margin: 0 auto;
  gap: 24px;
  text-align: center;
  place-items: center;
}

.designcentrado-textos {
  max-width: 890px;
  margin: auto;
}

.designcentrado h2 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 24px;
}

.designcentrado p {
  font-weight: 300 !important;
  font-size: 1rem;
  margin-bottom: 24px;
}

.designcentrado h3 {
  color: #2c55b5;
  font-weight: 200;
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.designcentrado img {
  display: inline;
  align-items: center;
}
